/* Reset */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.headers {
  background: url("../../../Images/7444.png") no-repeat center center/cover;
  height: 500px;
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.header-container {
    /* background-color: yellow; */
    width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.logo img {
  width: 120px;
}

.Navbox{
    display: flex;
    gap: 60px;

    a{
        outline: none;
        text-decoration: none;
        color: white;
    }
}



.Navbox a:hover {
  color: #ffa500;
}

.register-btn{
  /* padding: 8px 18px;
  border: 1px solid #ffa500; */
  /* color: white; */
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;


   button{
        outline: none;
    
    padding: 10px 20px;
    background-color: #f3870b11;
    color: white;
    font-weight: 600;
    font-size: 17px;
    width: fit-content;
    cursor: pointer;
    border: 2px solid #F3870B;
    padding-left: 30px;
    padding-right: 30px;
    }

    button:hover{
        background-color: #F3870B;
    }
  
}

.register-btn:hover {
  background: #ffa500;
  color: black;
}

.hero-section {
    /* background-color: red; */
    display: flex;
    width: 80%;
    
  text-align: left;
  margin-top: 110px;
  margin-bottom: 110px;
}

.hero-section h1 {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}



.aboutmore{
    /* background-color: red; */
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}



.aboutsecond{
    /* background-color: yellow; */
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
   
    

}

.spin{
    /* background-color: red; */
    img{
        width: 650px;
    }
}


.people{
    display: flex;
    align-items: center;

    h3{
        font-weight: 700;
        font-size: 60px;
        margin: 0;
        color: white;
    }

    

    
}



.ptptp{
    p{
        /* width: 108px; */
        font-weight: 400;
        font-size: 16px;
        margin: o;
        color: white;
    }

}

.rticon{
        /* background-color: red; */
        width: 20px;
        height: 20px;
        color: #ffa500;
    }


    .statistcis{
        background-color: red;
        background-image: url(../../../Images/Rectangle\ 42.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 40px;
        margin-bottom: 30px;

        
    }


    .statistcis_sec{
        /* background-color: yellow; */
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: space-evenly;
        padding: 30px;
        text-align: center;
    }


    .coresecond{
      /* background-color: yellow; */
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      /* gap: 30px; */
      margin-top: 10px;

    }

    .corevalues{
      /* background-color: red; */
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .event_sectionss{
      /* background-color: green; */
      width: 80%;
      margin: 0;

      h4{
        margin: 0;
        /* padding-left: 40px; */
        font-weight: 600;
        font-size: 30px;
      }
    }

    .rows{
      /* background-color: greenyellow; */
      
      img{
        margin: 0;
      }

    }



    .missionsss{
      /* background-color: blue; */
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 440px;
      height: 400px;
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

      p{
        width: 328px;
        font-weight: 600;
        font-size: 14px;
      }

      h3{
        font-weight: 600;
        font-size: 30px;
      }
    }



    .team_sectionss{
      /* background-color: yellow; */
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px;
     


      h4{
        color: white;
        font-weight: 600;
        font-size: 24px;
        margin: o;
      }

      p{
        color: white;
        margin: 0;
      }
    }

    .rowsSS{
      /* background-color: aqua; */
      display: flex;
      align-items: center;
      gap: 5px;
      margin: 0;


      p{
        color: white;
        margin: 0;
      }
    }


    .imgssss{
      h3{
        color: white;
      }
    }


    
    .twitter{
        color: white;
      }




    .ourteam_section{
      /* width: 100%; */
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 50px;
      /* margin-top: 0; */
      padding: 40px;
    }



    .players_Section{
      display: flex;
      width: 80%;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }

    .imgss{
      img{
        width: 300px;
      }
    }



    .color_section{
      background-color: #ffa500;
      width: 340px;
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .namesss{
      /* background-color: aqua; */
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      
    }


    @media screen and (max-width:768px) {


    .headers{
height: 500px;
background-position: center;
width: 100%;
overflow-x: hidden;
    }

    
    .header-container{
        width: 80%;
        /* background-color: red; */
        display: flex;
        justify-content: space-between;

       
    }

    .register-btn{
      display: none;
            width: 100%;
            justify-content: space-between;
    }

    .Navbox{
        display: none;
    }

    

    .logo{
      img{
            width: 40%;
        }

    }


    .aboutmore{
        width: 100%;
        /* background-color: red; */
        display: flex;
    }

    .aboutsecond{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .spin{
       display: flex;
       justify-content: center;
       width: 100%;
       /* background-color: yellow; */

       img{
        width: 370px;
       }
    }

    .readme{
        width: 370px;
        /* background-color: green; */
    }

    .aboutptext{

        /* background-color: aqua; */
        width: 100%;

        h2{
            width: 100%;
        }
        p{
            width: 100%;
        }
    }

    .corevalues{
      width: 85%;
      /* background-color: red; */
    }

    .event_sectionss{
      width: 100%;
      /* background-color: green; */
    }

    .coresecond{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      /* background-color: blue; */
    }

    .missionsss{
      /* background-color: yellow; */
      width: 100%;
    }

    .ourteam_section{
      /* background-color: red; */
      width: 81%;
      display: flex;
      flex-direction: column;
     align-items: start;
     
    }

    .team_sectionss{
      /* background-color: green; */
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
    }

    .players_Section{
      /* background-color: blue; */
      width: 100%;
      display: flex;
      flex-direction: column;
      
      
    }

    .color_section{
      width: 100%;
    }

    
}