.header{
    background-color: #00000080;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* justify-content: space-around; */
    /* background-image: url(../../Images/bbb.png); */

}

.navead{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* background-color: red; */
    align-items: center;

    
    button{
        outline: none;
    
    padding: 10px 20px;
    background-color: #f3870b11;
    color: white;
    font-weight: 600;
    font-size: 17px;
    width: fit-content;
    cursor: pointer;
    border: 2px solid #F3870B;
    }

    button:hover{
        background-color: #F3870B;
    }
}

.hearder_wrapper{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;

}





@media screen and (max-width:768px) {
    .Navbox{
        display: none;
    }
}