.programm_one{
    /* background-color: red; */
    margin-top: 30px;
    width: 100%;
}


.rows{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.first_text{
    /* background-color: yellow; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h4{
        margin: 0;
        font-weight: 600;
        font-size: 24px;
    }
}

.abovetwo{
    /* background-color: yellow; */

    h4{
        font-weight: 700;
        font-size: 27px;
        width: 591px;
        text-align: left;
    }

    p{
        width: 541px;
        font-weight: 300;
        font-size: 16px;
        height: 100px;
        text-align: left;
    }
}


.teen{
    color: #F3870B;
}

.button_one{
    width: 100%;
    display: flex;
align-items: start;

button{
        padding: 10px 20px;
    background-color: #f3870b11;
    color: black;
    font-weight: 600;
    font-size: 17px;
    width: fit-content;
    cursor: pointer;
    border: 2px solid #F3870B;
    padding-left: 30px;
    padding-right: 30px;

    
}

button:hover{
        background-color: #F3870B;
    }
}

.aboveone{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    gap: 70px;
    
}

/* .aboveone img:hover{
    background-image: url(../../../Images/Property\ 1=Variant2.png);
} */
.kiddiesdiv{
    display: flex;
    /* width: 100%; */
    justify-content: space-around;
    margin: 20px;
}


.texts{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
   align-items: center;
   /* justify-content: center; */
    width: 100%;
    /* padding: 100px; */
    padding-top: 200px;
    gap: 20px;
    height: 300px;
    background-color: #00000080;
}

.ptexts{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
   align-items: start;
    width: 80%;
    
    
    gap: 20px;
    

    p{
        margin: 0;
        font-weight: 600;
        font-size: 14px;
        width: 644px;
        top: 351.68px;
        left: 103px;
        height: 49.86px;
        align-items: left;
        color: white;
    }

    h1{
        margin: 0;
        width: 619px;
        text-align: left;
        font-weight: 600;
        font-size: 40px;
        color: white;
    }

    button{
        outline: none;
    
    padding: 10px 20px;
    background-color: #f3870b11;
    color: white;
    font-weight: 600;
    font-size: 17px;
    width: fit-content;
    cursor: pointer;
    border: 2px solid #F3870B;
    padding-left: 30px;
    padding-right: 30px;
    }

    button:hover{
        background-color: #F3870B;
    }
    
}

.contactdiv{
    background-image: url(../../../../Images/Rectangle\ 38.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    /* margin-bottom: 20px; */
}

.picturrres{
    width: 100%;
     height: 1070px;
   /* background-color: green; */
   display: flex;
   align-items: center;
    justify-content: space-between;

    
} 

.gallerysection{
    height: 1050px;
     /* background-color: red; */
     margin-bottom: 90px;
}

.fivepicturess{
    /* background-color: yellow; */
    display: flex;
    /* height: 600px; */
    flex-direction: column;
    width: 280px;
gap: 5px;
margin-bottom: 50px;
}

.fivepicturess2{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    width: 354px;
    gap: 5px;

}

.fivepicturess3{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    width: 456px;
    /* height: 378px; */
gap: 5px;
}

.fivepicturess4{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    width: 354px;
    /* height: 378px; */
gap: 5px;
/* margin-top: 25px; */
}

.fivepicturess5{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    width: 301px;
    /* height: 378px; */
gap: 5px;
}


.testimonaildiv{
    /* background-color: red; */
    margin-top: 150px;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../../Images/Rectangle\ 36.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-color: #0000007D;
     margin-bottom: 20px;
}


.comma{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.coachdiv{
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
    border-bottom: 5px solid #F3870B;
    
}

.pretty{
    display: flex;
    gap: 10px;
    
    align-items: center;

    p{
        margin: 0;
        
    }
}


.coac{
    color: #F3870B;
    padding-right: 30px;
}

/* .upcomingss{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;
    background-color: blue;

    p{
        color: white;
        margin: 0;
    }
} */


.event_sections{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    margin-bottom: 20px;
   
    
    
    width: 80%;

    h3{
        color: #F3870B;
        padding-left: 40px;
        margin: 0;
    }
}

.ptaggg{

    /* background-color: yellowgreen; */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    p{
        width: 600px;
        display: flex;
        text-align: left;
        
        /* align-items: center; */
        /* justify-content: space-around; */
    }
}


.fordot{
    /* background-color: red; */
    display: flex;
    gap: 5px;
}

.fordotss{
    color: #F3870B;
}



.comments{
    display: flex;
    align-items: center;
    gap: 10px;
}


.commentss{
    display: flex;
    align-items: center;
    gap: 15px;

    p{
        font-weight: 400;
        font-size: 14px;
        /* background-color: red; */
        width: 114px;
    }
}

.linesss{
    display: flex;
    align-items: center;
    flex-direction: column;

    p{
        /* background-color: blue; */
        width: 364px;
        font-weight: 400;
        font-size: 16px;
        text-align: left;
    }

    h3{
        width: 375px;
        font-weight: 500;
        font-size: 20px;
        text-align: left;
    }
}

.blogdivtwo{
    /* background-color: red; */
    width: 385px;
}


.blogdiv{
    /* background-color: yellow; */
    /* width: 80%; */
    display: flex;
    justify-content: center;
    /* gap: 15px; */
   
    padding: 30px;
    
}

.treeboxes{
    /* background-color: goldenrod; */
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.bigimg{
    /* background-color: #F3870B; */
    img{
        width: 410px;
    }
}

.buttondivsss{
    width: 100%;
    display: flex;
    align-items: start;
    gap: 5px;
    
    button{
        border: none;
        /* outline: none; */
    }
}

@media screen and (max-width:768px) {
    .programm_one{
        display: flex;
        flex-direction: column;
    }

    .progam_two{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }


    .aboveone{
        display: flex;
        flex-direction: column;
        width: 100%;

        img{
            width: 100%;
        }
    }

    .abovetwo{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        h4{
            width: 100%;
        }

        p{
            width: 100%;
        }
    }


    .texts{
        width: 100%;
    }

    .ptexts{
        width: 90%;
        /* background-color: yellowgreen; */
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1{
            width: 100%;
            
        font-size: larger;
        }
        p{
            width: 100%;
        }
    }


    .first_text{
        width: 90%;
        /* background-color: violet; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rows{
        width: 100%;
        /* background-color: pink; */
    }

    .gallerysection{
        /* background-color: red; */
        width: 100%;
        
        height: 1350px;
    }

    /* .rows{
        background-color: blue;
        width: 80%;
        p{
            width: 50%;
        }
    } */

    /* .first_text{
        background-color: green;
        width: 80%;
        display: flex;
        align-items: start;

        h4{
            width: 70%;
            text-align: left;
        
        }
    } */

    .testimonaildiv{
        width: 100%;
    }
    .coachdiv{

        width: 70%;
    }

    .ptaggg{
        width: 100%;

        p{
            width: 100%;
        }
    }

    .treeboxes{
        display: flex;
        flex-direction: column;
    }

    .bigimg{
        width: 100%;

        img{
            width: 100%;
        }
    }

    .rows{
        width: 90%;
    }

    .first_text{
        width: 90%;
        /* background-color: aqua; */
    }

    .picturrres{
        /* background-color: yellow; */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .fivepicturess{
        /* background-color: green; */
        width: 90%;
        display: flex;
        flex-direction: row;

        img{
            width: 50%;
            /* background-color: blue; */
        } 
    }

    .fivepicturess2{
        /* background-color: green; */
        width: 90%;
        display: flex;
        flex-direction: row;

        img{
            width: 50%;
        } 
    }
}