.getin_section{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    margin-bottom: 20px;

     p{
        color: black;
        margin: 0;
    }

}

.firstform{
    display: flex;
    gap: 20px;
}


.labellsss{
    input{
        width: 300px;
        height: 30px;
        border: 3px solid #F3870B;
    }
}


.messagesdiv{
    margin-top: 20px;
    textarea{
        width: 625px;
        height: 250px;
        border: 3px solid #F3870B;
         
    }
}

.formsectiondivx{
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}


.getin_section{
    /* background-color: blue; */
    width: 80%;
    display: flex;
    
}


.form_Section{
    /* background-color: yellow; */
    width: 80%;
    display: flex;
    justify-content: space-between;
   
}




.gettiiin{
    display: flex;
    align-items: center;
    gap: 10px;

   
    h3{
        color: black;
        /* padding-left: 40px; */
        margin: 0;
    }
}



.form-grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.detailsdivvs{
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    padding-right: 90px;
    gap: 40px;
}


.numberdiv{
    /* background-color: blue; */
    width: 146px;
    display: flex;
    align-items:  baseline;
}

.numberdivs{
    /* background-color: blue; */
    width: 244px;
    display: flex;
    align-items:  baseline;
}

.numerics{
    /* background-color: green; */
    display: flex;
    flex-direction: column;

    img{
        width: 55px;
    }

    h6{
        font-weight: 600;
        font-size: 18px;
        margin: 0;
    }

    p{
        font-weight: 300;
        font-size: 16px;
        margin: 0;
    }
}
.numericss{
    /* background-color: green; */
    display: flex;
    flex-direction: column;

    img{
        width: 70px;
    }

    h6{
        font-weight: 600;
        font-size: 18px;
        margin: 0;
    }

    p{
        font-weight: 300;
        font-size: 16px;
        margin: 0;
    }
}
.numericsss{
    /* background-color: green; */
    display: flex;
    flex-direction: column;

    img{
        width: 118px;
    }

    h6{
        font-weight: 600;
        font-size: 18px;
        margin: 0;
    }

    p{
        font-weight: 300;
        font-size: 16px;
        margin: 0;
    }
}

.mapssss{
   
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 80px;
    
    
}


@media screen and (max-width:768px){
    

    .formsectiondivx{
        /* background-color: red; */
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;

    }

    .firstform{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .form_Section{
        /* border-color: yellow; */
        display: flex;
        flex-direction: column;
    }
    
    .messagesdiv{
         textarea{
            width: 97%;
         }
    }

    .detailsdivvs{
        margin-top: 40px;
    }

    .labellsss{
        input{
            width: 97%;
        }
    }

    .mapssss{
        /* background-color: red; */
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }


}