.programdetailsdiv{
    /* background-color: red; */
    margin-top: 30px;
    
    
}



 button{
        outline: none;
    
    padding: 10px 20px;
    background-color: #f3870b11;
    color: white;
    font-weight: 600;
    font-size: 17px;
    width: fit-content;
    cursor: pointer;
    border: 2px solid #F3870B;
    padding-left: 30px;
    padding-right: 30px;
    }

    button:hover{
        background-color: #F3870B;
    }